############################
## PROJECT SPECIFIC FILES ##
############################

animate_shot
core

#####################
## C RELATED FILES ##
#####################

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#######################
## C++ RELATED FILES ##
#######################

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

############################
## BACKUPS AND OTHER CRAP ##
############################

.fuse*
*~
\#*
